body, html {
    height: 100%;
    margin: 0px;
    padding: 0;
    font-family: "Helvetica neue", sans-serif;
    font-weight: 500;

}

.animation-container {
  position: absolute;
  z-index: 1; /* Valeur supérieure à celle du fond d'écran */
}

.BB100feux {
    position: absolute;
    top: 80%;
    left: 80%;
    z-index: 1;
    
    
  }
  
  .BB100EXITrondrouge {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    top: 50%;
    left: 50%;
    background-color: red;
    transform: translate(-50%, -200%);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .BB100EXITrondorange {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    top: 50%;
    left: 50%;
    background-color: orange;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .BB100EXITrondvert {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    top: 50%;
    left: 50%;
    background-color: green;
    transform: translate(-50%, 100%);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .BB100EXITrondrouge:active,
  .BB100EXITrondrouge:hover,
  .BB100EXITrondrouge:focus {
    transform: translate(-50%, -200%) scale(1.2);
    box-shadow: 0 0 20px red;
    
  }
  
  .BB100EXITrondorange:active,
  .BB100EXITrondorange:hover,
  .BB100EXITrondorange:focus {
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: 0 0 20px orange;
  }
  
  .BB100EXITrondvert:active,
  .BB100EXITrondvert:hover,
  .BB100EXITrondvert:focus {
    transform: translate(-50%, 100%) scale(1.2);
    box-shadow: 0 0 20px green;
  }
  
  @media (min-width: 600px) {
    .BB100EXITrondorange,
    .BB100EXITrondrouge,
    .BB100EXITrondvert {
      width: 80px;
      height: 80px;
    }
  
  }
  
  @media (max-width: 350px) {
    .BB100EXITrondorange,
    .BB100EXITrondrouge,
    .BB100EXITrondvert {
      width: 40px;
      height: 40px;
    }
    .BB100feux {
      position: absolute;
      top: 50%;
      left: 50%;
      
    }
  }
  
  