body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica neue", sans-serif;
    font-weight: 500;

}
  
  .body203 {
    margin: 0;
    overflow: hidden;
  }
  
  .BB203magazine-container {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    height: 200%;
  }
  
  .BB203magazine-page {
    width: 80vw;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .BB203magazine-text {
    max-width: 80%;
    text-align: right;
    margin: auto;
  }
  
  .BB203magazine-text h2 {
    text-align: right;
  }
  
  .BB203magazine-text p {
    font-size: 1em;
    text-align: left;
    margin: auto;
  }
  
  
  .BB203arrow {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-size: 2em;
    color: #333;
    z-index: 1;
  }
  
  .BB203up {
    top: 10px;
  }
  
  .BB203down {
    bottom: 10px;
  }

  

.BB100feux {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    
    
  }
  
  .BB100EXITrondrouge {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    top: 50%;
    left: 50%;
    background-color: red;
    transform: translate(-50%, -200%);
    transition: transform 0.3s, box-shadow 0.3s;
    animation: Animation-BB100feurouge 12s infinite ease-in-out alternate;
  }
  
  .BB100EXITrondorange {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    top: 50%;
    left: 50%;
    background-color: orange;
    transform: translate(-50%, -50%);
    transition: transform 0.3s, box-shadow 0.3s;
    animation: Animation-BB100feuorange 12s infinite ease-in-out alternate;
  }
  
  .BB100EXITrondvert {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: transparent;
    top: 50%;
    left: 50%;
    background-color: green;
    transform: translate(-50%, 100%);
    transition: transform 0.3s, box-shadow 0.3s;
    animation: Animation-BB100feuvert 7s infinite ease-in-out alternate;
  }
  
  .BB100EXITrondrouge:active,
  .BB100EXITrondrouge:hover,
  .BB100EXITrondrouge:focus {
    transform: translate(-50%, -200%) scale(1.2);
    box-shadow: 0 0 20px red;
    opacity: 100%;
    
  }
  
  .BB100EXITrondorange:active,
  .BB100EXITrondorange:hover,
  .BB100EXITrondorange:focus {
    transform: translate(-50%, -50%) scale(1.2);
    box-shadow: 0 0 20px orange;
    opacity: 100%;
  }
  
  .BB100EXITrondvert:active,
  .BB100EXITrondvert:hover,
  .BB100EXITrondvert:focus {
    transform: translate(-50%, 100%) scale(1.2);
    box-shadow: 0 0 20px green;
    opacity: 100%;
  }
  
  @media (min-width: 600px) {
    .BB100EXITrondorange,
    .BB100EXITrondrouge,
    .BB100EXITrondvert {
      width: 80px;
      height: 80px;
    }
  
  }
  
  @media (max-width: 350px) {
    .BB100EXITrondorange,
    .BB100EXITrondrouge,
    .BB100EXITrondvert {
      width: 40px;
      height: 40px;
    }
    .BB100feux {
      position: absolute;
      top: 50%;
      left: 50%;
      
    }
  }